<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="FormatSalvare" value="txt"/>
		<add key="NumeFisierBijuterii" value="Bijuterii"/>
		<add key="NumeFisierAngajati" value="Persoane"/>
		<add key="NumeFisierClienti" value="Clienti"/>
		<add key="NumeFisierParola" value="Parola"/>
	</appSettings>
</configuration>